<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="container">
            <h1>This is inside the container of the bootstrap</h1>
        </div>
    </body>
</html>